<ion-view>
    <ion-nav-bar class="bar-style">
        <ion-nav-title>Cadastrar</ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <label class="item item-input">
            <input type="text" ng-model="pessoa.nome" placeholder="Digite o seu nome">
        </label>
        <label class="item item-input">
            <input type="text" ng-model="pessoa.sobrenome" placeholder="Digite o seu sobrenome">
        </label>
        <div class="row">
            <button class="button button-block button-positive" ng-click="cadastrar()" ui-sref="listar">Salvar</button>
        </div>   
    </ion-content>
</ion-view>    