<ion-view ng-init="mostrar()">
    <ion-content>
        <ion-label>Detalhes do Cadastrado</ion-label>
        <ion-item>Nome: {{pessoa.nome}}</ion-item>
        <ion-item>Sobrenome: {{pessoa.sobrenome}}</ion-item>
        <button class="button button-block button-positive" ng-click="excluir()" ui-sref="listar">Excluir</button>
        <button class="button button-block button-positive" ui-sref="listar">Voltar</button>
    </ion-content>
</ion-view>