<ion-view>
    <ion-content>
        <ion-list>
            <ion-item class="item item-button-right" ng-repeat="pessoa in pessoas">{{pessoa.nome}}
                <button class="button button-negative;button icon ion-gear-b" ng-click="detalhar($index)"
                 ui-sref="detalhar"></button>
            </ion-item>
        </ion-list>     
    </ion-content>
    <ion-footer-bar>
        <button class="button button-block button-positive" ui-sref="cadastro">Voltar</button>
    </ion-footer-bar>    
</ion-view>